svg:not(:root) {
    overflow: visible;
}

.container {
    width: 80%;
    margin: auto;
}

#plot {
    width: 80%;
    height: 100vh;
}

.labels-subtype {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 10px;
}

.labels-cellLine {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 8px;
}

.labels-source {
    font-family: 'Roboto Condensed', sans-serif;
    fill: white;
    font-size: 12px;
}

.labels-lg {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.labels-extralg {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
